body {
    font-family: 'Slabo 27px', serif;
    background: #1f1e27;
}

h1 {
    text-align: center;
}

tr {
    cursor: pointer;
}

form {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    padding: 10px;
    border-radius: 15px;
    width: 70%;
    -webkit-box-shadow: 15px 17px 26px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 15px 17px 26px 0px rgba(0, 0, 0, 0.71);
    box-shadow: 15px 17px 26px 0px rgba(0, 0, 0, 0.71);
}

.div-container h2 {
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: space-between;
}

.profile-info .google-map {
    color: red;
    position: relative;
    height: 23vh;
    bottom: 0px;
}

#register-req {
    text-align: center;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    margin: 40px auto;
}

#register-login-feedback {
    text-decoration: underline;
    cursor: pointer;
}

#register-login-feedback:hover {
    color: blue;
}

#register-login-feedback:active {
    color: orange;
}

#profile-view-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#logout-btn {
    width: 50%;
}
#delete-btn {
    width: 50%;
}

#expanded-row-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

#expanded-row-container .google-map {
    color: red;
}

.google-map {
    width: 34vw;
    height: 30vh;
    position: relative;
    bottom: 40px;
}

#expanded-row-text {
    position: relative;
    top: 20px;
}

@media only screen and (max-width: 1000px) {
    .div-container {
        width: 90%;
    }
    .div-container table {
        font-size: 0.9rem;
    }
    #expanded-row-container .google-map {
        width: 50vw;
        height: 30vh;
        position: relative;
        bottom: 40px;
    }
    .profile-info .google-map {
        width: 40vw;
    }
    .profile-info .google-map h4 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .div-container {
        width: 100%;
    }
    .div-container table {
        font-size: 0.65rem;
    }
    #expanded-row-container .google-map {
        color: red;
        width: 40vw;
        height: 23vh;
        position: relative;
        bottom: 30px;
    }
}
